version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - 6379:6379

  producer:
    build:
      context: ../producer
    container_name: producer
    ports:
      - 5001:5000
    env_file:
      - ../.env
    depends_on:
      - redis
    volumes:
      - ../producer:/app       # Mount your local code into the container
      - /app/node_modules      # Use container's node_modules, not host
    command: pnpm dev          # Run dev script (ts-node-dev)